<!----------- Footer ------------>
<div class="row">
  <div class="col-md-4">
    <h4>Menu</h4>
    <ul class="pages">
      <li><a href="https://www.municipalidadchillan.cl/sitio/"> <i class="fa fa-building" aria-hidden="true"></i> Municipalidad</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Síguenos</h4>
    <ul>
      <li><a href="https://www.facebook.com/IlustreMunicipalidadDeChillan"> <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      <li class="divider-vertical-second-menu"></li>
      <li><a
        href="https://twitter.com/muni_chillan?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4" >
    <h4>Contacto</h4>
    <ul>
      <li><a> <i class="fa fa-phone-square" aria-hidden="true"></i> 42 2433475</a></li>
      <li class="divider-vertical-second-menu"></li>
      <li><a> <i class="fa fa-envelope-square" aria-hidden="true"></i> obraschillan.info@gmail.com</a></li>
    </ul>
  </div>
</div>
