<!--Formulario de Reuperación de contraseña-->
<body>
<div class="form-reset-pass">
  <form [formGroup]="formReset">
    <fieldset>
      <legend>
        Recuperación de contraseña
      </legend>
      <p>Debes ingresar tu email y te enviarémos un correo con instrucciones</p>
      <input type="text" formControlName="correo" placeholder="Ingresa tu email">
      <div class="form-text text-danger" style="margin-top: -30px;margin-left: 1em;width: 100%; text-align: left; font-size: 14px"  *ngIf="this.formReset.get('correo').errors?.required && (formReset.get('correo').touched || formReset
                  .get('correo').dirty)" >Tu correo es obligatorio
      </div>
      <div class="form-text text-warning" style="margin-top: -30px;margin-left: 1em;width: 100%; text-align: left; font-size: 14px"  *ngIf="this.formReset.get('correo').errors?.pattern && (formReset.get('correo').touched || formReset
                  .get('correo').dirty)" >Debe contener @ y dominio valido
      </div>
      <div class="form-text text-success" style="margin-top: -30px;margin-left: 1em;width: 100%; text-align: left; font-size: 14px"  *ngIf="this.formReset.get('correo').valid" >Correo valido
      </div>
    </fieldset>
    <input class="btn" type="submit" id="enviar" value="Enviar" (click)="send()" [disabled]="!formReset.valid"/>
  </form>
  <div class="progress-line" style="display: none" ></div>
</div>
</body>
