@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

i{
  font-family: "FontAwesome";
}


.courses-container{
  justify-content: center;
  justify-items: center;
  margin: auto;
}
.container{
  margin: auto;
  width: 90%;
  height: 90%;
  justify-content: center;
 }

.course {
  /*background-color: #fff;*/
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course h3 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  line-height: 100%;
  max-width: 100%;
  align-items: center;
  display: flex;
}

img {
  vertical-align: middle;
  width: 200px;
  height: 200px;
}

.course-info {
  padding: 20px;
  position: relative;
  width: 100%;
}

.fecha {
  position: absolute;
  top: 35px;
  right: 30px;
  text-align: right;
  width: 150px;
  font-size: 20px;
  opacity: 0.6;
  letter-spacing: 1px;
}
.buttons{
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.btn {
  background: #052a5d;
//background: #005492;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 4px 10px;
  margin-right: 10px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.btn:hover{
  color:#f2ab31;
}


/*////////////////PROGRESS BAR///////////////////*/

.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-weight: 700;
}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}
.multi-steps {
  /*background: #2A265F;*/
  display: table;
  table-layout: fixed;
  width: 100%;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #219395;
}
.multi-steps > li:before {
  content: '\f00c';
  content: '\2713';
  content: '\10003';
  content: '\10004';
  content: '\2713';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #219395;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #219395;
  position: absolute;
  top: 11px;
  /*left: 50%;*/
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #219395;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}




/*/////////////////FIN PROGRESS/////////////////*/
@media screen and (max-width: 1024px){
  .course{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }
  .course-info{
    width: 100%;
  }
  .btn{
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px){

  .fecha{
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
  }
  .container{
    width: 100%;

  }

}
@media screen and (max-width: 600px){
  .btn{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

}
