<input type="checkbox" id="check">

<header>
  <div class="row">
    <div class="col" style="max-width: 200px">
      <div class="izquierda">
        <img src="../../../assets/logo-obras.png" alt="">
      </div>
    </div>
    <div class="col-3">
      <label for="check">
        <i class="fa fa-bars" id="sidebar_btn"></i>
      </label>
    </div>
  </div>

</header>

<div class="sidebar">

  <div style="margin: auto; align-content: center; text-align: center">
    <img src="../../../assets/shutterstock_752076598.jpg" class="imagen_perfil" alt="">
    <h4>Nombre </h4>
    <strong>Apellido</strong>
  </div>
  <a href="#"><i class="fa fa-user"></i><span>Perfil</span></a>
  <a href="#"><i class="fa fa-th"></i><span>Tablas (?</span></a>
  <a href="#"><i class="fa fa-info-circle"></i><span>Información</span></a>
  <a href="#"><i class="fa fa-cogs"></i><span>Configuración</span></a>
  <a href="#"><i class="fa fa-power-off"></i><span>Cerrar Sesión</span></a>
</div>
<div class="contenido"> CACACACACACACACASCASCASDFKAFKSDJFAJ
</div>
