<body>
  <nav>
    <div class="logo">
      <a id="logo_grande"><img src="../../../assets/logo-obras.png" alt="logo" [routerLink]="['']" routerLinkActive="router-link-active"></a>
    </div>
    <ul class="nav-links">
      <li><a href="#" [routerLink]="['/home']">Inicio</a></li>
      <li><a href="#" [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a></li>
      <li><a href="#" [routerLink]="['/signup']" routerLinkActive="router-link-active" >Registro</a></li>
      <li><a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active"> Ingresar </a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</body>

